@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import './colors';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-smooth: always;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  letter-spacing: 2.1px;
  background-color: $dark;
  color: $light;
}

ul {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $secondary;
}

// Variables
$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0.3) 0px 4px 11px;
$generic-border: 1px solid $alt;

// Mixins
@mixin box-overlay() {
  -webkit-box-shadow: $generic-box-shadow;
  box-shadow: $generic-box-shadow;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 85px;
  border-radius: 10px;
}

@mixin va($va-align: center) {
  display: flex;
  align-items: center;

  @if $va-align != center {
    justify-content: left;
  } @else {
    justify-content: center;
  }
}

@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin btn($width) {
  width: $width;
  background-color: transparent;
  color: $dark;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.5px;
  border: 1px solid $dark;
  border-radius: 10px;
  padding: 5px 12px 5px 12px;
  position: relative;
  display: inline-block;
  $light-space: nowrap;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    background-color: $dark;
    color: $light;
    border: 1px solid transparent;
  }
}

@mixin cancel() {
  color: $alt;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1.5px;
  margin: 2px 5px;
}

@mixin task-item() {
  list-style-type: none;
  display: flex;
  line-height: 1.6;
  color: $primary;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 1rem;
  border-bottom: 1px solid $secondary;
  cursor: pointer;

  &:hover {
    background-color: $alt;
  }
}

// media query mixin
@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}

// Dark mode
.darkmode {
  header {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    background-color: $dark;
    border-color: transparent;
  }
}

// header
header {
  background-color: $primary;
  border-bottom: solid 1px $primary;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  height: 44px;
  z-index: 400;
  position: fixed;
  top: 0;
  width: 100%;
  transition: height 200ms ease-in;

  @include mq('900px') {
    padding: 0 10px;
  }

  nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 1400px;
    margin: auto;
    height: 44px;

    p,
    li {
      color: $light;
    }

    div {
      &.logo {
        padding-left: 8px;
        grid-area: 1/1;

        i {
          font-size: 1.75rem;
        }
      }

      &.settings {
        grid-area: 1/2;
        text-align: right;

        ul {
          float: right;

          li {
            @include va;

            list-style-type: none;
            cursor: pointer;
            width: 30px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
            float: left;
            transition: background-color ease-in-out;

            i {
              margin-top: 2px;
              margin-left: 2px;
            }

            &:hover {
              border-radius: 10px;
              background-color: $alt;
            }

            &.settings__add {
              margin-right: 15px;
              font-size: 30px;
            }

            &.settings__dark-mode i {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

// Sidebar
.sidebar {
  @include no-select();
  width: 266px;
  height: calc(100vh);
  padding-top: 74px;
  padding-left: 10px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: $generic-border;
  background-color: $alt;
  color: $light;

  @include mq('900px') {
    display: none;
  }

  li {
    padding: 5px;
    &:hover .sidebar__project-delete {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

  &__project {
    cursor: pointer;

    div:nth-child(1) {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &-delete {
      display: none;
      position: relative;
      width: 100%;
      &:focus {
        outline: none;
        i {
          border: $accent solid 2px;
          border-radius: 3px;
          padding: 4px 2px 2px 4px;
        }
      }
      i {
        position: absolute;
        right: 5px;
        bottom: 9px;
        margin-bottom: -17px;
        color: $light;
        border: transparent solid 2px;
        border-radius: 3px;
        padding: 4px 2px 2px 4px;
      }
    }

    &.active {
      font-weight: bold;
      color: $light;
    }

    &:hover {
      font-weight: bold;
      color: $light;
      background-color: $primary;
    }

    &:nth-child(1) {
      .sidebar__dot {
        color: #6accbc;
      }
    }
    &:nth-child(2) {
      .sidebar__dot {
        color: #fad003;
      }
    }
    &:nth-child(3) {
      .sidebar__dot {
        color: #ff8d85;
      }
    }
    &:nth-child(4) {
      .sidebar__dot {
        color: #ff9932;
      }
    }
    &:nth-child(5) {
      .sidebar__dot {
        color: #af38eb;
      }
    }
  }

  &__project {
    @include va('left');
  }

  &__dot {
    margin-right: 10px;
    font-size: 13px;
  }

  &__middle {
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: $generic-border;
    padding-left: 0px;
    cursor: pointer;

    span {
      color: $dark;
      margin-right: 9px;

      i.hidden-projects {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }

    h2 {
      margin: 0;
      color: $light;
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 20px;
    }
  }

  &__generic {
    li {
      list-style-type: none;
      color: $light;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      line-height: 1.5;
      font-size: 15px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 3px;

      span:first-of-type {
        width: 20px;
      }
      span:last-of-type {
        margin-left: 5px;
      }

      div:nth-child(1) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 10px 0 10px 10px;
        width: 100%;

        span:first-of-type {
          margin-right: 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          i {
            width: 18px;
            height: 18px;
            color: #555;
          }
        }
      }

      &:hover {
        font-weight: bold;
        background-color: $primary;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}

/* Show Confirm Delete
  ============================================ */
.project-delete-modal {
  position: relative;
  width: 100%;
  border-color: transparent;

  &__inner {
    @include box-overlay();
    box-shadow: $generic-box-shadow;
    z-index: 99;
    width: 200px;
    padding: 5px 15px 0px;
    top: 10px;
    right: 0;
    border-color: transparent;
    background-color: $light;
    display: grid !important;

    p {
      color: $dark;
      grid-column: 1 / 4;
      grid-row: 2 / 2;
      margin-top: 5px;
      margin-bottom: 12px;
      line-height: 1.5;
      font-weight: normal;
      font-size: 15px;
      text-align: center;
    }

    button {
      @include btn('50px');
      grid-column: 1 / 4;
      grid-row: 3 / 3;
      margin-bottom: 16px;
      max-width: 174px;
    }
    .project-delete-modal__inner__span {
      @include cancel();
      font-weight: normal;
      grid-column: 3 / 4;
      grid-row: 1 / 1;
      margin-top: 4px;
      margin-right: -2px;
      transition: all ease 0.3s;
      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        height: 0%;
        width: 0%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0);
        transition: all ease 0.3s;
      }
      &:hover {
        color: $light;
        &:before {
          background-color: rgba(0, 0, 0, 0.7);
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

/* Main Content
  ============================================ */
.content {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 1fr auto;
  max-width: 1400px;
  margin: auto;
}

/* Tasks
  ============================================ */
.tasks {
  width: 100%;
  max-width: 1144px;
  background-color: $light;
  margin-left: 266px;
  border-right: $generic-border;
  min-height: calc(100vh);
  vertical-align: top;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 84px;
  color: darken($dark, 10%);
  @include mq('900px') {
    margin-left: 0;
    width: auto;
  }

  h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 30px 20px 0;
  }

  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 18px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;

    .checkbox-holder {
      margin-right: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      line-height: 16px;

      .checkbox {
        cursor: pointer;
        border-color: gray;
        color: #343434;
        height: 16px;
        width: 16px;
        display: block;
        border: 1px solid gray;
        border-radius: 16px;
      }
    }
  }

  .add-task {
    margin-top: 20px;
  }
}

/* Add Task
  ============================================ */
.add-task {
  &__overlay {
    background: rgba(102, 102, 102, 0.5);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    height: calc(100vh);

    .add-task__main {
      @include mq('900px') {
        width: 90%;
      }

      overflow: visible;
      margin-bottom: 20px;
      margin-top: 55px;
      border-radius: 5px;
      background-color: $light;
      position: absolute;
      left: 50%;
      top: 50%;
      padding: 20px 30px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      i {
        color: $dark;
      }

      .header {
        font-size: 13px;
        margin-bottom: 20px;
        float: left;
      }
    }

    .add-task__cancel-x {
      cursor: pointer;
      color: gray;
      float: right;
      font-weight: bold;
      font-size: 12px;
      margin-top: 10px;
    }
  }

  &__main {
    position: relative;
  }

  &__project,
  &__date {
    cursor: pointer;
    float: right;
    color: gray;
    margin: 20px 10px;
  }

  &__project {
    margin-right: 0;
  }

  &__content {
    width: 100%;
    border: 1px solid #ddd;
    background-color: $light !important;
    border-radius: 3px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__cancel,
  &__submit {
    @include no-select;
  }

  &__cancel {
    @include cancel();
  }

  &__submit {
    @include btn('90px');
  }
}

.add-task__shallow,
.add-project {
  @include no-select;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-task__plus,
.add-project__plus {
  color: #dd4b39;
  font-size: 18px;
}

.add-task__text,
.add-project__text {
  display: inline-block;
  color: #545454;
  font-size: 14px;
  margin-left: 15px;
}

/* Task Date
  ============================================ */
.task-date {
  @include box-overlay();
  background-color: #fff;
  width: 200px;
  right: 0;

  &__list li {
    @include task-item();
    padding: 0;

    div:nth-child(1) {
      padding: 10px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      span:first-of-type {
        margin-right: 10px;

        i {
          fill: grey;
        }
      }
    }
  }
}

/* Project Overlay
  ============================================ */
.project-overlay {
  @include box-overlay();
  background-color: $light;

  @include mq('900px') {
    width: 200px;
    right: 0;
  }

  &__list li {
    @include task-item();
    padding: 0;

    div:nth-child(1) {
      width: 100%;
      padding: 10px;
    }
  }
}

/* Add Project
  ============================================ */
.add-project {
  padding-left: 13px;
  padding-right: 20px;
  margin-top: 20px;

  &__input {
    margin-bottom: 20px;
  }

  &__name {
    width: 100%;
    border: 1px solid #ddd;
    background-color: $light !important;
    border-radius: 3px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__submit {
    @include btn('100px');
  }

  &__cancel {
    @include cancel();
  }
}
